.u-block-9f41-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-9f41-3 {
  position: absolute;
  left: 0;
}

.u-block-9f41-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://andaterra.org.br/media/img_site/f3e9f10a077b464acacc2f2deb21fa99842ff861ee60356c74d58de4134a9ff6e1fc6f03850ee653ccb923b68e94d9ba593ba9c4dc5d708b71fb5d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1-1 .u-text-1 {
  margin: 104px auto 0;
}

.u-section-1-1 .u-text-2 {
  width: 837px;
  margin: 17px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 23px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://andaterra.org.br/media/img_site/62d30ec10814122637a7c2e9d2833dac0f61782a5cb510c1762f6816e8e218d038ddf01c3d8fcfad31789771079a7557b186773bbd575936220867_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1-2 .u-text-1 {
  margin: 107px auto 0;
}

.u-section-1-2 .u-text-2 {
  width: 837px;
  margin: 25px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 23px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://andaterra.org.br/media/img_site/57ce080e7665c1b7761d54704320d9e077d096420f9ce43700f66fab4b4cc5a7d6dfcc77ee6b4cdc1d0b9ad9a75259101a6e5bffe17651bfa5c045_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1-3 .u-text-1 {
  margin: 116px auto 0;
}

.u-section-1-3 .u-text-2 {
  width: 837px;
  margin: 15px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 23px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 697px;
}

.u-section-2 .u-group-1 {
  width: 390px;
  background-image: none;
  min-height: 67px;
  margin: 37px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-2 .u-text-1 {
  font-family: Cairo;
  margin: 0 -25px 0 13px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1030px;
  margin: 37px auto 30px 44px;
}

.u-section-2 .u-video-1 {
  min-height: 276px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 276px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-video-2 {
  margin-left: auto;
  margin-right: -7px;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 276px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-video-3 {
  margin-left: auto;
  margin-right: -7px;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 276px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-video-4 {
  margin-left: auto;
  margin-right: -7px;
}

.u-section-2 .embed-responsive-4 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 276px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-video-5 {
  margin-left: auto;
  margin-right: -7px;
}

.u-section-2 .embed-responsive-5 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 276px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-video-6 {
  margin-left: auto;
  margin-right: -7px;
}

.u-section-2 .embed-responsive-6 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 320px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 252px;
  }

  .u-section-2 .u-video-2 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 252px;
  }

  .u-section-2 .u-video-3 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 252px;
  }

  .u-section-2 .u-video-4 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 252px;
  }

  .u-section-2 .u-video-5 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 252px;
  }

  .u-section-2 .u-video-6 {
    margin-left: initial;
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 245px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 193px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 193px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 193px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 193px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1758px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 184px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 434px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 434px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 434px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 434px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 273px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 126px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 83px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-family: Cairo;
  text-align: left;
  width: 544px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 49px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 10px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1057px;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto auto;
  margin: 30px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-gap: 21px 21px;
  min-height: 583px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: Cairo;
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-1 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 303px;
  height: 160px;
  margin: 1px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 49px 2px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-size: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-family: Cairo;
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-2 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 303px;
  height: 160px;
  margin: 1px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 49px 2px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-size: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-family: Cairo;
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-3 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-3 {
  width: 303px;
  height: 160px;
  margin: 1px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 49px 2px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-size: auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-family: Cairo;
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-4 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-4 {
  width: 303px;
  height: 160px;
  margin: 1px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 49px 2px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-5 {
  background-size: auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-family: Cairo;
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-5 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-5 {
  width: 303px;
  height: 160px;
  margin: 1px auto 0;
}

.u-section-4 .u-text-10 {
  margin: 49px 2px 0 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-6 {
  background-size: auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  font-family: Cairo;
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-6 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-6 {
  width: 303px;
  height: 160px;
  margin: 1px auto 0;
}

.u-section-4 .u-text-12 {
  margin: 49px 2px 0 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    width: 157px;
    height: 42px;
  }

  .u-section-4 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    margin-right: auto;
  }

  .u-section-4 .u-btn-2 {
    width: 157px;
    height: 42px;
  }

  .u-section-4 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-6 {
    margin-right: auto;
  }

  .u-section-4 .u-btn-3 {
    width: 157px;
    height: 42px;
  }

  .u-section-4 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-8 {
    margin-right: auto;
  }

  .u-section-4 .u-btn-4 {
    width: 157px;
    height: 42px;
  }

  .u-section-4 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-10 {
    margin-right: auto;
  }

  .u-section-4 .u-btn-5 {
    width: 157px;
    height: 42px;
  }

  .u-section-4 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-12 {
    margin-right: auto;
  }

  .u-section-4 .u-btn-6 {
    width: 157px;
    height: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-4 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-5 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-6 {
    height: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: url("https://andaterra.org.br/media/img_site/57ce080e7665c1b7761d54704320d9e077d096420f9ce43700f66fab4b4cc5a7d6dfcc77ee6b4cdc1d0b9ad9a75259101a6e5bffe17651bfa5c045_1280.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 649px;
}

.u-section-5 .u-group-1 {
  width: 800px;
  min-height: 469px;
  background-image: none;
  margin: 90px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 59px 55px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 52px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 320px;
  min-width: 160px;
  margin: 68px auto 0;
}

.u-section-5 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-5 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-section-5 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .u-icon-4 {
  color: rgb(0, 122, 185) !important;
}

.u-section-5 .u-icon-5 {
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 563px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-5 .u-group-1 {
    min-height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-social-icons-1 {
    height: 36px;
    width: 260px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 465px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 29px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  margin: 73px 103px 0 60px;
}

.u-section-6 .u-text-2 {
  margin: 38px 60px 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 400;
  background-image: none;
  border-style: none;
  margin: 52px auto 0 256px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 409px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-image-1 {
  width: 240px;
  height: 97px;
  margin: 102px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 122px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 337px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-image-1 {
    height: 98px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 581px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 366px;
  }
}