{% extends 'front/master.html' %}

{% load static %}



{% block headblock %}
<title>{{ site.name }} | O que fazemos</title>
{% endblock %}



{% block mainblock %}

<!-- Breadcrumb Start -->
	<div class="container">
		<div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 m-tb-6">
				<a href="/" class="breadcrumb-item f1-s-3 cl9">
					Início
				</a>
			</div>

		</div>
	</div>
<!-- Breadcrumb End -->


<!-- Page heading Start -->
	<div class="container p-t-4 p-b-40">
		<h2 class="f1-l-1 cl2">
			Conquistas realizadas pela ANDATERRA
		</h2>
	</div>
<!-- Page heading End -->	


<!-- Content Start -->
	<section class="bg0 p-b-60">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-8 p-b-80">
					<div class="p-r-10 p-r-0-sr991">

						<p>
							Lei Complementar nº 110/2001
						</p>
						
						    <br>

						<p>
							LC 110 E ADICIONAL DA MULTA DE 10% FGTS. DA ILEGALIDADE E INCONSTITUCIONALIDADE DAS CONTRIBUIÇÕES INSTITUÍDAS PELA LEI COMPLEMENTAR N° 110/2001.
						</p>
							
						    <br>
						
						<p>
							O Fundo de Garantia do Tempo de Serviço – FGTS, criado pela Lei nº 5.107/66, e atualmente regido pela Lei nº 8.036/90, é custeado – ordinariamente – por contribuições mensais dos empregadores, correspondentes a 8% da remuneração dos trabalhadores (contribuição com previsão constitucional, válida e exigível).
						</p>
							
						    <br>
						
						<p>
							Não obstante, para fazer face ao pagamento dos expurgos inflacionários gerados pelos planos econômicos Collor I e II e Verão (rombo de mais de 40 bilhões de Reais nas contas vinculadas), a Lei Complementar nº 110, de 29 de junho de 2001, que reconheceu esse passivo e propôs o seu pagamento, acabou criando dois novos tributos, numa espécie de majoração das alíquotas do FGTS de 8% para 8,5% e da multa rescisória sobre os recursos da conta vinculada do trabalhador de 40% para 50%. No primeiro caso, a elevação deu-se por sessenta meses (vigorando de 2001 a 2006). No segundo, porém, a exação é cobrada até hoje.
						</p>
                        <br><br><br>
                        <p>
                            Salário Educação
                        </p>
                        <br>    
                        <p>
                            O Salário Educação, contribuição social incidente sobre o total das remunerações pagas pelos empregadores, vem sendo cobrado pelo fisco de forma completamente ilegal dos produtores rurais pessoas físicas.
                        </p>
                        <br>
                        <p>
                            A legislação, de forma clara e objetiva, limita o sujeito passivo do tributo (contribuinte) às Empresas, Pessoas Jurídicas, sem a menor menção às Pessoas Física.
                        </p>
                        <br>
                        <p>
                            A ANDATERRA no cumprimento de suas funções estatutárias e na defesa de seus associados conquistou, mediante AÇÃO COLETIVA adequada, importante vitória em relação à inexigibilidade do Salário Educação.
                        </p>

                        <br>
                        <p>
                            Referida ação coletiva, cujo trânsito em julgado operou-se em 16 de janeiro de 2014, BENEFICIA TODOS OS SEUS ASSOCIADOS desde que empregadores rurais PESSOAS FÍSICAS, em todo o território nacional.
                        </p>

                        <br>
                        <p>
                            A ação Coletiva do Salário Educação, ganha pela ANDATERRA, reduziu em 90% a carga tributária sobre a folha de salários do produtor rural, pois dos 2,7% devidos no campo outras entidades da guia GPS (FNDE + INCRA), o produtor passará a pagar só os 0,2% referentes ao INCRA.
                        </p>
                        <br>
                        <p>
                            Aderindo a essa Ação Coletiva os associados podem suspender imediatamente o recolhimento do Salário Educação, bem como executar a sentença que lhes possibilita a repetição do indébito tributário.
                        </p>
                        <br><br><br>
                        <p>
                            Royalties da soja
                        </p>
                            <br>
                        <p>
                            Diante da política de cobrança de royalties, indenizações e taxa de tecnologia realizada pela empresa Monsanto para utilização das tecnologias RR, BT e RR2 e dos contratos abusivos impostos aos produtores, a ANDATERRA propôs Ações Coletivas que questionam essa cobrança, absolutamente indevida e abusiva. Essas ações buscam, entre outros objetivos, a suspensão da cobrança dos royalties na moega e a nulidade das patentes de propriedade.
                        </p>
                        <br>
                        <p>
                            Preço mínimo
                        </p>

                        <br>
                        <p>
                            Essa ação judicial tem por objetivo cobrar da União Federal uma indenização em razão da não aplicação da lei (Estatuto da Terra) que assegura ao agricultor uma Política de Garantias de Preço Mínimo.
                        </p>

                        <br>
                        <p>
                            Ou seja, reza a lei que o preço de produtos essenciais, tais como soja, milho, trigo… devem ser garantidos pelo Governo através de AGF (que é a aquisição direta feita pela CONAB), EGF (que é o empréstimo na safra para segurar a venda e obter melhores preços) e intervenção no mercado (como a regulação do câmbio, favorecendo as exportações e estabilizando os preços).
                        </p>

                        <br>
                        <p>
                            Não obstante, os sucessivos presidentes da república – do período democrático pra cá – vem sonegando este direito do produtor rural com graves e irreversíveis conseqüências, como a vivenciada crise no campo.
                        </p>

                        <br>


					</div>
				</div>
				
			<!-- Sidebar in Contact Page Start -->
				<div class="col-md-5 col-lg-4 p-b-80">
					<div class="p-l-10 p-rl-0-sr991">
					<!-- Popular Posts in Contact Page Start -->
						<div>
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Últimos posts
								</h3>
							</div>
                        <!-- Sidebar in Contact Page (Dynamically) Popular Post Start -->
							<ul class="p-t-35">
                                {% for pop in popnews2 %}
								<li class="flex-wr-sb-s p-b-30">
									<a href="{% url 'news_detail' rid=pop.id %}" class="size-w-10 wrap-pic-w hov1 trans-03">
										<img src="{{ pop.picurl }}" alt="IMG">
									</a>

									<div class="size-w-11">
										<h6 class="p-b-4">
											<a href="{% url 'news_detail' rid=pop.id %}" class="f1-s-5 cl3 hov-cl10 trans-03">
												{{ pop.name }}
											</a>
										</h6>

										<span class="cl8 txt-center p-b-24">
											<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
												{{ pop.catname }}
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												{{ pop.date }}
											</span>
										</span>
									</div>
								</li>
                                {% endfor %}
                            </ul>
                        <!-- Sidebar in Contact Page (Dynamically) Popular Post Start -->
                        </div>
                    <!-- Popular Posts in Contact Page End -->    
					</div>
                </div>
            <!-- Sidebar in Contact Page End -->
			</div>
		</div>
	</section>
<!-- Content End -->

{% endblock %}